body {
  margin: 0;
  /* background-color: #222222; */
  /* background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px; */
}

#wheel-container {
  display: flex;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#wheel-container > div {
  position: fixed;
}

canvas {
  margin: auto;
  visibility: hidden;
}

/* Wheel Pointer */
/* #wheel-pointer {
  position: fixed;
} */

/* Wheel Panel */
/* #wheel-panel {
  position: fixed;
} */

/* Wheel Arrow */
/* .wheel-arrow {
  position: fixed;
  background-color: rgba(0, 171, 242);
  transform-origin: bottom left;
} */

.wheel-arrow {
  /* position: fixed; */
  /* transform-origin: bottom left; */
}

#wheel-arrow > svg {
  transform: rotate(-45deg);
}

/* Wheel Item */
.wheel-item {
  position: fixed;
  width: 16em;
}

.wheel-item-text {
  text-decoration: none;

  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  padding: 1em;
  word-break: break-word;
  text-align: center;

  font-size: 3em;
  line-height: 1em;
  color: #228dff;
  font-family: Iceland;

  transition: all 0.5s;
}

.wheel-item-text-selected {
  color: #ffffff;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff,
      0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
