#wheel-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  // TODO Add GPU check
  /* backdrop-filter: blur(3px) brightness(50%) grayscale(20%); */

  > div {
    position: fixed;
  }

  > canvas {
    margin: auto;
    visibility: hidden;
  }
}

#wheel-arrow > svg {
  transform: rotate(-45deg);
}

.wheel-item {
  position: fixed;
  width: 16em;
}

.wheel-item-text {
  text-decoration: none;

  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  padding: 1em;
  word-break: break-word;
  text-align: center;

  font-size: 2em;
  line-height: 1em;
  color: #ffffff;

  transition: all 0.2s;
}

.wheel-item-text-selected {
  font-size: 3em;
  color: #ffffff;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #008000, 0 0 70px #008000, 0 0 80px #008000, 0 0 90px #008000,
      0 0 100px #008000;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #008000, 0 0 35px #008000, 0 0 40px #008000, 0 0 50px #008000, 0 0 75px #008000;
  }
}
